:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

main {
  display: center;
}

.palette-input-form{
  display: flex;
  justify-content: center;
}

#palette-form{
  background-color: rgb(60, 60, 60);
  width: 300px;
  border-radius: 10px;
  text-align: center;
  height:410px;
}

input[type=text] {
  background-color: gray;
  border: white, 1px;
}

input[type=color] {
  background-color: gray;
  border: none;
}


#form-color{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.color-pick {
  padding-bottom: 10px ;
}

#temp-text {
  text-align: left;
  padding-left: 45px;
}

#form-temp {
  padding-bottom: 10px;
}

#palette-submit {
  padding-bottom: 10px;
}

#palette-submit-button {
  background-color: #808080;
  color: white;
  border: none;
  height: 20px;
}

#palette-heading {
  text-align: center;
}

/* --------------------------- */

#user-made-palettes{
  /* background-color: #484848; */
  border-radius: 0px 50px 0px ;
  width: 300px;
  text-align: center;

}

.default-palette {
  background-color: gray;
}
.default-palette-title{
  text-align: center;
}

.background-color-div{
  background-color: white;
}


.default-palette-content{
  display: flex;
  justify-content: space-around;
}

.copy-text-div {
  
}